<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set character encoding for the document -->
    <meta charset="utf-8">
    <!-- Ensure proper rendering and touch zooming on IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Ensure proper scaling on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Define title for the page -->
    <meta name="title" content="Ask online Form">
    <!-- Define description for the page -->
    <meta name="description" content="The Ask is a bootstrap design help desk, support forum website template coded and designed with bootstrap Design, Bootstrap, HTML5 and CSS. Ask ideal for wiki sites, knowledge base sites, support forum sites">
    <!-- Define keywords for SEO -->
    <meta name="keywords" content="HTML, CSS, JavaScript, Bootstrap, js, Forum, webstagram, webdesign, website, web, webdesigner, webdevelopment">
    <!-- Define robots behavior for SEO -->
    <meta name="robots" content="index, nofollow">
    <!-- Define language of the document -->
    <meta name="language" content="English">
    <!-- Set title of the document -->
    <title>About us</title>
    <!-- Link to Bootstrap CSS file -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <!-- Link to custom style CSS file -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <!-- Link to Font Awesome CSS file -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Link to Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <!-- Link to Normalize CSS file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!-- Link to custom login style CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
    <!-- Link to Element UI CSS file -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div class="top-menu-bottom932">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for collapsing the navigation bar on small screens -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Navbar brand logo -->
                <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo"/></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- Navbar links -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                        {% if user %}
                            <li><a href="/qa/public">Ask Question</a></li>
                            <li><a href="/logout">Logout</a></li>
                            <li><a>Welcome, {{ user.username }}</a></li>
                        {% else %}
                            <li><a href="/login">Login</a></li>
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<section class="welcome-part-one">
    <div class="container text-center">
        <h1>Welcome to UWA IT Forum!</h1>
        <p>At UWA IT Forum, we strive to create an engaging platform where curiosity meets expertise. Whether you're looking to solve a specific problem, share your knowledge, or just browse the rich content, our forum is designed to facilitate all your informational needs.</p>
    </div>
</section>

<div id="app" style="background-color: #FF7361;">
    <!-- Carousel using Element UI -->
    <el-carousel>
        <el-carousel-item>
            <img style="margin: 0 auto; display: block;" src="{{ url_for('static', filename='image/register.png') }}" alt="register"/>
        </el-carousel-item>
        <el-carousel-item>
            <img style="margin: 0 auto; display: block;" src="{{ url_for('static', filename='image/search.png') }}" alt="search"/>
        </el-carousel-item>
        <el-carousel-item>
            <img style="margin: 0 auto; display: block;" src="{{ url_for('static', filename='image/rank.png') }}" alt="rank"/>
        </el-carousel-item>
        <el-carousel-item>
            <img style="margin: 0 auto; display: block;" src="{{ url_for('static', filename='image/post.png') }}" alt="post"/>
        </el-carousel-item>
        <el-carousel-item>
            <img style="margin: 0 auto; display: block;" src="{{ url_for('static', filename='image/comments.png') }}" alt="comment"/>
        </el-carousel-item>
    </el-carousel>
</div>

<a class="carousel-control-prev" href="{{ url_for('static', filename='image/image1.png') }}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="{{ url_for('static', filename='image/image2.jpg') }}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>

<section class="welcome-part-one">
    <div class="container">
        <div class="row" style="text-align:justify">
            <!-- Information about Account Creation and Login -->
            <div class="col-md-4">
                <div class="box">
                    <h3>01 Account Creation and Login</h3>
                    <p>Start by creating an account or logging in to access personalized features. As a registered user, you will not only be able to view posts from other members but also unlock all the features of this website, including posting, commenting, and liking.</p>
                </div>
            </div>
            <!-- Information about Quick Search -->
            <div class="col-md-4">
                <div class="box">
                    <h3>02 Quick Search</h3>
                    <p>Easily find past discussions with our advanced search function. You can filter by keywords to quickly locate relevant posts and solutions.</p>
                </div>
            </div>
            <!-- Information about User Rankings -->
            <div class="col-md-4">
                <div class="box">
                    <h3>03 User Rankings</h3>
                    <p>Participate and climb the ranks! Our user ranking system rewards users who actively post and receive likes, reflecting your contributions to the community with points and badges. Gain recognition by helping others and establish yourself as an expert.</p>
                </div>
            </div>
            <!-- Information about Posting Questions -->
            <div class="col-md-4">
                <div class="box">
                    <h3>04 Post Question</h3>
                    <p>Our platform allows you to ask any question, whether it's a complex technical issue or a daily operational query. No matter how niche or broad your question is, our community is here to provide insights and answers.</p>
                </div>
            </div>
            <!-- Information about Commenting -->
            <div class="col-md-4">
                <div class="box">
                    <h3>05 Comment</h3>
                    <p>Engage with the community by answering questions. Share your knowledge and experience to help others solve their problems. Your thoughtful responses will contribute to the richness of discussions and help maintain the quality of the forum.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer Section -->
<section class="footer-part">
    <div class="container">
        <div class="row">
            <div class="info-part-one320">
                <!-- Reference Section -->
                <h4>Reference</h4>
                <p><a href="https://getbootstrap.com/" target="_blank">bootstrap.css</a></p>
                <p><a href="https://fontawesome.com/" target="_blank">font-awesome.min.css</a></p>
                <p><a href="https://getbootstrap.com/docs/5.0/layout/grid/" target="_blank">responsive.css</a></p>
                <p><a href="https://jquery.com/" target="_blank">jquery.js</a></p>
                <p><a href="https://flask.palletsprojects.com/en/3.0.x/tutorial/layout/" target="_blank">Flask Layout</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Include Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Include jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include custom jQuery library -->
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<!-- Include Bootstrap JavaScript library -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Include custom npm JavaScript library -->
<script src="{{ url_for('static', filename='js/npm.js') }}"></script>
<!-- Include Vue.js library -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- Include Element UI JavaScript library -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- Initialize Vue instance -->

</body>
</html>
