<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set the character encoding for the document to UTF-8 -->
    <meta charset="utf-8" />
    <!-- Set the compatibility mode for IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Set the viewport to scale to device width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Meta tag for the page title -->
    <meta name="title" content="Ask online Form" />
    <!-- Meta tag for the page description -->
    <meta name="description" content="The Ask is a bootstrap design help desk, support forum website template coded and designed with bootstrap Design, Bootstrap, HTML5 and CSS. Ask ideal for wiki sites, knowledge base sites, support forum sites" />
    <!-- Meta tag for keywords -->
    <meta name="keywords" content="HTML, CSS, JavaScript,Bootstrap,js,Forum,webstagram ,webdesign ,website ,web ,webdesigner ,webdevelopment" />
    <!-- Meta tag for robots -->
    <meta name="robots" content="index, nofollow" />
    <!-- Meta tag for the language of the document -->
    <meta name="language" content="English" />
    <!-- Title of the page -->
    <title>UWA IT Forum</title>
    <!-- Link to CSS files -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/index.css') }}" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" type="text/css" />
</head>

<body>
    <div class="top-menu-bottom932">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href=""><img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo" /></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Navigation menu -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        {% if user %}
                            <li><a href="/qa/public">Ask Question</a></li>
                            <li><a href="/logout">Logout</a></li>
                            <li><a>Welcome, {{ user.username }}</a></li>
                        {% else %}
                            <li><a href="/login">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <section class="welcome-part-one">
        <div class="container">
            <div class="welcome-demop102 text-center">
                <h2>Welcome to our forum website!</h2>
                <p>
                    Here you will be able to search for any post that interests you and interact with the person who posted it. In addition, you can also post any questions to ask for help from others. <br />
                    Hope you can have a good experience here!
                </p>
                <!-- Button with JavaScript click event -->
                <div class="button0239-item">
                    <button type="button" class="aboutus022" onclick="location.href='/about'">About Us</button>
                </div>
                <div class="form-style8292">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
                        <input id="searchInput" type="text" class="form-control form-control8392" placeholder="Search any post that interests you" />
                        <span id="searchButton" class="input-group-addon"> Search </span>
                    </div>
                </div>
                <div id="searchResults"></div>
            </div>
        </div>
    </section>

    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div id="main">
                        <input id="tab1" type="radio" name="tabs" checked />
                        <label for="tab1">Recent Question</label>
                        <input id="tab3" type="radio" name="tabs" />
                        <label for="tab3">Recently Answered</label>
                        <div id="_content_"></div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="navigation"></ul>
                        </nav>
                    </div>
                </div>
                <aside class="col-md-3 sidebar97239">
                    <div class="highest-part302">
                        <h4>Highest Points</h4>
                        <div id="board"></div>
                    </div>
                </aside>
            </div>
        </div>
    </section>

<!-- Footer Section -->
<section class="footer-part">
    <div class="container">
        <div class="row">
            <div class="info-part-one320">
                <!-- Reference Section -->
                <h4>Reference</h4>
                <p><a href="https://getbootstrap.com/" target="_blank">bootstrap.css</a></p>
                <p><a href="https://fontawesome.com/" target="_blank">font-awesome.min.css</a></p>
                <p><a href="https://getbootstrap.com/docs/5.0/layout/grid/" target="_blank">responsive.css</a></p>
                <p><a href="https://jquery.com/" target="_blank">jquery.js</a></p>
                <p><a href="https://flask.palletsprojects.com/en/3.0.x/tutorial/layout/" target="_blank">Flask Layout</a></p>
            </div>
        </div>
    </div>
</section>


    <!-- Include jQuery -->
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <!-- Include Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- JavaScript to set the image variable -->
    <script>
        var image = "{{ url_for('static', filename='image/images.png') }}";
    </script>
    <!-- Include the main JavaScript file for the page -->
    <script src="{{ url_for('static', filename='js/pages/index.js') }}" type="module"></script>
    <!-- Include Vue.js -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- Include Element UI library -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- Initialize Vue instance -->
    <script>
        new Vue({
            el: "#app",
            data: function () {
                return { visible: false };
            },
        });
    </script>
</body>
</html>
