<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Ask online Form">
    <meta name="description" content="The Ask is a bootstrap design help desk, support forum website template coded and designed with bootstrap Design, Bootstrap, HTML5 and CSS. Ask ideal for wiki sites, knowledge base sites, support forum sites">
    <meta name="keywords" content="HTML, CSS, JavaScript,Bootstrap,js,Forum,webstagram ,webdesign ,website ,web ,webdesigner ,webdevelopment">
    <meta name="robots" content="index, nofollow">
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
    <meta name="language" content="English">
    <title>Post</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <!-- <link href="css/animate.css" rel="stylesheet" type="text/css"> -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" type="text/css">

</head>

<body>
    <!-- ==========header mega navbar=======-->
    <div class="top-menu-bottom932">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='image/logo.png') }}" alt="Logo"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav"> </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/ask">Ask Question</a></li>
                        {% if user %}
                            <li><a href="/logout">Logout</a></li>
                        {% else %}
                            <li><a href="/login">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <section class="header-descriptin329">
        <div class="container">
            <h3>Post Details</h3>
        </div>
    </section>


    <div class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="post-details">
                        <div class="details-header923">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="post-title-left129">
                                        <p id="postTitle"></p> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-details-info1982">
                            <p id="postContent"></p>
                            <hr>
                            <div class="post-footer29032">
                                <div class="l-rightside39">
                                    <button type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like"><i class="fa fa-thumbs-o-up " aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="comment-list12993">
                        <div class="container">
                            <div class="row">
                           
                                <div class="comments-container">
                                    <ul class="comments-list">
                                        <li>
                                             <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar"><img src="{{ url_for('static', filename='image/images.png') }}" alt="image"></div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <p class="comment-name"><a href="#"> </a></p> <span><i class="fa fa-clock-o" aria-hidden="true"> </i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                    <div class="comment-content">  </div>
                                                </div>
                                            </div>
                                                
                                      
                                            <ul class="comments-list reply-list">
                                                <li>
                                                    <div class="comment-avatar"><img src="{{ url_for('static', filename='image/images.png') }}" alt="image"></div>
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <p class="comment-name"><a href="#"> </a></p> <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                        <div class="comment-content">  </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="comment-avatar"><img src="{{ url_for('static', filename='image/images.png') }}" alt="image"></div>
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <p class="comment-name"><a href="#"> </a></p> <span><i class="fa fa-clock-o" aria-hidden="true"> </i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                        <div class="comment-content">  </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="comment-avatar"><img src="{{ url_for('static', filename='image/images.png') }}" alt="image"></div>
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <p class="comment-name"><a href="#"> </a></p> <span><i class="fa fa-clock-o" aria-hidden="true"> </i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                        <div class="comment-content">  </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar"><img src="{{ url_for('static', filename='image/images.png') }}" alt="image"></div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <p class="comment-name"><a href="#"> </a></p> <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                    <div class="comment-content">  </div>
                                                </div>
                                            </div>
                                        </li>
                                           
                                    </ul>
                        
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment289-box">
                        <h3>Leave A Reply</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="post9320-box">
                                    <input type="text" class="comment-input219882" placeholder="Enter Your Post"> </div>
                                <button type="button" class="pos393-submit">Post Your Answer</button>
                            </div>
                        </div>
                    </div>
                    <ul class="comments-list"> <!-- 这里将动态添加评论 --> </ul>
                </div>
                <!--                end of col-md-9 -->

               

                <!-- strart col-md-3 (side bar) -->
                <aside class="col-md-3 sidebar97239">
                    <!-- highest part -->
                    <div class="highest-part302">
                        <h4>Highest Points</h4>
                        <div class="pints-wrapper">
                            <div class="left-user3898">
                                <a href="#"><img src="{{ url_for('static', filename='image/images.png') }}" alt="Image"></a>
                                <div class="imag-overlay39"> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                            </div>
                            <a href="#" class="designetion439"> </a>
                            <p> </p>
                                
                        </div>

                        <hr>
                        <div class="pints-wrapper">
                            <div class="left-user3898">
                                <a href="#"><img src="{{ url_for('static', filename='image/images.png') }}" alt="Image"></a>
                                <div class="imag-overlay39"> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                            </div> 
                            <a href="#" class="designetion439"> </a>
                            <p> </p>
                             
                        </div>

                        <hr>
                        <div class="pints-wrapper">
                            <div class="left-user3898">
                                <a href="#"><img src="{{ url_for('static', filename='image/images.png') }}" alt="Image"></a>
                                <div class="imag-overlay39"> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                            </div> 
                            <a href="#" class="designetion439"> </a>
                            <p> </p>
                            
                        </div>

                        <hr>
                        <div class="pints-wrapper">
                            <div class="left-user3898">
                                <a href="#"><img src="{{ url_for('static', filename='image/images.png') }}" alt="Image"></a>
                                <div class="imag-overlay39"> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                            </div> 
                            <a href="#" class="designetion439"> </a>
                            <p> </p>
                           
                        </div>

                        <hr>
                        <div class="pints-wrapper">
                            <div class="left-user3898">
                                <a href="#"><img src="{{ url_for('static', filename='image/images.png') }}" alt="Image"></a>
                                <div class="imag-overlay39"> <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a> </div>
                            </div> 
                            <a href="#" class="designetion439"> </a>
                            <p> </p>
                            
                        </div>
                        <hr>

                    </div>
                    <!-- end of Highest points -->
                </aside>
            </div>
        </div>
    </div>
    
    <!-- footer -->
    <div class="footer-search">
        <div class="container">
            <div class="row">
                <div id="custom-search-input">
                </div>
            </div>
        </div>
    </div>

    <section class="footer-part">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-3"> -->
                    <div class="info-part-one320">
                        <h4>Reference</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Morbi adipiscing gravida odio, sit amet suscipit risus ultrices eu.
                        </p>
                    </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/npm.js') }}"></script> -->
    <script>
        var image = "{{ url_for('static', filename='image/images.png') }}";
    </script>
    <script src="{{ url_for('static', filename='js/forum.js') }}"></script>
    <script src="{{ url_for('static', filename='js/post-details.js') }}"></script>
    <script src="{{ url_for('static', filename='js/post-details1.js') }}"></script>
    
</body>

</html>